/* Google Fonts - Silkscreen and DM Sans */
@import url("https://fonts.googleapis.com/css2?family=Silkscreen&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,100;9..40,300;9..40,400;9..40,500;9..40,600;9..40,700;9..40,800;9..40,900;9..40,1000&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "DM Sans", sans-serif;
}

:root {
  --base-height: 100vh;
}

/* Hero Section */

.hero {
  background-color: #293241;
  width: 100%;
  height: var(--base-height);
  display: grid;
  justify-content: center;
  align-items: center;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-action {
  background-color: rgba(0, 0, 0, 0);
  border-style: none;
  color: white;
  font-weight: 500;
  font-size: 13;
}

#hero-title {
  font-family: "Silkscreen", sans-serif;
  font-size: 8rem;
  width: 90vw;
  text-align: center;
  color: white;
}

#hero-nav-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-left: 30vw;
  padding-right: 30vw;
}

/* Biography Section */

.bio {
  height: var(--base-height);
  width: auto;
  background-color: rebeccapurple;
}

#bio-top-section {
  height: calc(var(--base-height) / 2);
  background-color: #000;
  width: auto;
  display: flex;
  flex-direction: row;
  padding-left: 5rem;
  padding-right: 5rem;
}

#bio-portrait {
  height: auto;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#bio-portrait-img {
  width: 20rem;
  height: 20rem;
  background-image: url('/images/me.jpg');
  background-repeat: no-repeat;
  overflow: hidden;
  background-size: cover;
  border-radius: 10rem;

}

#bio-text {
  padding-top: 2rem;
  height: auto;
  width: 50%;
}

#bio-text-title {
  color: #fff;
  font-family: "Silkscreen", sans-serif;
  font-size: 3rem;
  text-align: right;
  padding-right: 2rem;
  padding-top: 2rem;
}

#bio-text-body {
  color: #fff;
  text-align: justify;
  padding: 2rem;
  font-size: 0.9rem;
  font-weight: 200;
  letter-spacing: 0.1rem;
}

/* Projects Section */

#bio-projects {
  background-color: #98c1d9;
  height: calc(var(--base-height) / 2);
  width: auto;
  display: flex;
  flex-direction: column;
  padding-top: 1rem;
  padding-left: 10rem;
  padding-right: 10rem;
}

.project-card {
  height: 15vh;
  background-color: #6c95ada6;
  width: auto;
  margin-top: 1rem;
  display: flex;
  padding: 1rem;
  flex-direction: row;
  gap: 1rem;
  border-radius: 1rem;
}

#project-card-thumb {
  height: auto;
  width: 12rem;
  background-color: black;
  border-radius: 0.5rem;
}

#project-card-text {
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0.7rem;
  justify-content: space-evenly;
  gap: 2rem;
}

#project-card-title {
  font-family: "Silkscreen", sans-serif;
  color: #fff;
  font-size: 2rem;
}

#project-card-description {
  color: #fff;
  font-family: "DM Sans", sans-serif;
  font-size: 0.8rem;
}

/* Interval Section */

.interval-section {
  background-color: #98c1d9;
  height: calc(var(--base-height) / 3);
  display: flex;
  align-items: center;
  justify-content: center;
}

#interval-section-box {
  width: 80%;
  height: 80%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 80;
  font-family: "Silkscreen", sans-serif;
}

.articles{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #98c1d9;
    height: calc(var(--base-height) / 2);
}

#article-box {
    width: 80%;
    height: 70%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 1rem;
    gap: 1rem;
}

.article-card{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: center;
  gap: 1rem;
}

.card-img{
  height: 13rem;
  width: 13rem;
  background-color: #fff;
  border-radius: 1.5rem;
}

.card-img > img{
  width: 100%;
  height: auto;
  overflow: hidden;
  border-radius: 1.5rem;
  opacity: 80%;
  filter: grayscale();
}


#card-text{
  height: 3rem;
  font-family: 'DM Sans', sans-serif;
  font-size: 0.9rem;
  font-weight: 600;
  padding-left: 1rem;
  padding-right: 0.3rem;
  text-align: left;
  color: #fff;
}

.contact{
  padding-top: 10vh;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #98c1d9;
}

#contact-call{
  margin-left: 10rem;
  margin-right: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#get-in-touch{
  text-align: center;
  font-family: 'Silkscreen', sans-serif;
  font-size: 3rem;
  padding-bottom: 2rem;
  color: #000;
}

#contact-text{
  padding-left: 10rem;
  padding-right: 10rem;
  text-align: justify;
  color: #000000;
  font-weight: 300;
  margin-bottom: 2rem;
}

#contact-button{
  padding: 1rem;
  width: 9rem;
  border: none;
  background-color: #2a4368;
  border-radius: 0.4rem;
  color: aliceblue;
  font-family: 'DM Sans', sans-serif;
  font-weight: 500;
  font-size: 0.8rem;
  cursor: pointer;
}

#copyright{
  height: 30vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'DM Sans', sans-serif;
}

#copyright-message{
  font-weight: 500;
  font-size: 0.9rem;
  padding-bottom: 0.6rem;
  color: #293241;
  opacity: 30%;
}

#creation-and-date{
  font-size: 0.7rem;
  color: #293241;
  opacity: 30%;
}